
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(url: '/products', local: true) do |form| %>
    Form contents
  <% end %>

<div class="field">
  <%= form.label :name %><br>
  <%= form.text_field :name %>
  </div>

  <div class="field">
    <label for="name">Name</label>
    <input id="product_name" type="text" name="name">
  </div>

  <div class="field">
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </div>

  <div class="actions">
    <%=form.submit %>
  </div>
  <% end %>


  <div class="field">
    <%= form.label :image_url %><br>
    <%= form.text_field :image_url %>
  </div>

  <div class="field">
    <%= form.label :colour %><br>
    <%= form.text_field :colour %>
  </div>

<div class="fild">
  <%= form.label :price %><br>
  <%= form.text_field :price %>

  <div class="actions">
    <%= form.submit %>
  </div>

#Contact page


<% flash[:notice] %>
<%= form_with(url:"/simple_pages/thank_you", method: "post", local: true) do |form| %>
<div class="row">
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder: "Enter Name" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <% form.text_field :email, class: "form-control", placeholder: "Enter Email" %>
    </div>
    <div class="form-group">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", placeholder: "enter Message", rows: 5 %>
      </div>
    </div>
    <%= form.submit "Send", class: "form_label" %>
    <% end %>
