
<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-sm">
      <%= image_tag(product.image_url, class: "img-fluid") unless product.image_url.nil? %>
      <%= product.name %>
      <%= product.description %>
      <%= product.colour %>
      <%= product.price %>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      </div><!-- /col -->
    </div>
  </div>

</table>
<br>

<%= link_to 'New Product', new_product_path %>
