<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table>

  <% @products.each do |product| %>
  <tr>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
  <td><%= product.image_url %></td>
  <td><%= product.color %></td>
  <td><%= product.price %></td>
  <td><%= link_to 'Show', product %></td>
  <td><%= link_to 'Edit', edit_product_path(product) %></td>
  <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>

  <div class="container">
    <div class="row">
      <% @products.each do |product| %>
      <div class="col-sm">
      <%= product.eyeshadow1 %>
      <%= product.colorfulEyeShadow  %>
      <%= product.€ 30,00 %>
      <%= product.image_tag(product.eyeshadow1.jpg, class: "img-fluid") unless product.eyeshadow1.nil %>
      </div><!-- /col -->
    <% end %>

  </div>
</div>


</table>
<br>

<%= link_to 'New Product', new_product_path %>
